
variable "packet_api_key" {
  description = "Your packet API key"
  default = "XXYYZZ..."
}

variable "packet_project_id" {
  description = "Packet Project ID"
  default = "XXYYZZ..."
}

variable "packet_facility" {
  description = "Packet facility: US East(ewr1), US West(sjc1), or EU(ams1). Default: sjc1"
  default = "ewr1"
}

variable "packet_server_hostname" {
  description = "Server Hostname"
  default = "px-centos-7"
}

variable "ssh_key_path" {
  description = "Path to your private SSH key for the project"
  default = "./your.key"
}
